* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

form {
    margin: 1em;
    padding: 1em;
    background-color: rgb(245, 236, 222);
}

input[type="text"] {
    transition: background-color .6s ease-in-out;
    
    &:focus {
        background-color: rgb(239, 255, 250);
    }
}